.playlist-container{
    height: calc(100vh - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.playlist{
    min-width: 40%;
    max-width: 30vw;
}
.video-player{
    border-radius: 1rem;
}
.video-desc-container{
    overflow-y: scroll;
    position: relative;
}
#modal{
    position: absolute;
    z-index: 10;
    background-color: black;
    background: rgba(255,255,255,0.95);
    border-radius: 1rem;
    display: none;
}
.modal-container{
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}